<!-- bhseo1223 nodejs : ejs - point_swap_section : rkmarket_app -->

<section>
    <div class="section-section">
        <hr class="section-hr">

        <div class="section-infor">
            <div class="infor-member">
                <div class="member-memberleft">
                    <div class="memberleft-nickname">
                        <p class="nickname-nickname"><%- member[0].hname; %></p>
                        <p class="nickname-end">님</p>
                    </div>

                    <div class="memberleft-classlevel">
                        <p class="classlevel-label">LV</p>
                        <p class="classlevel-name" style=<%- classlevelcss %>><%- member[0].classlevelhname; %></p>
                    </div>
                </div>

                <div class="member-memberright">
                    <div class="memberright-cashpointown">
                        <p class="cashpointown-text">보유CP</p>
                        <p class="cashpointown-ea"><%- pointmember[0].cp.toLocaleString(); %></p>
                        <p class="cashpointown-unit">CP</p>
                    </div>

                    <div class="memberright-cashpointexchange">
                        <p class="cashpointexchange-text"> </p>
                        <p class="cashpointexchange-ea"><%- (Math.floor(pointmember[0].point_exp * rateexp) + Math.floor(pointmember[0].point_mc * ratemc) + Math.floor(pointmember[0].point_mctk * ratemctk) + Math.floor(pointmember[0].point_nton * ratenton) + Math.floor(pointmember[0].point_trvt * ratetrvt)).toLocaleString()  %></p>
                        <p class="cashpointexchange-unit">CP</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="section-hr">

        <div class="section-points">
            <div class="points-point point-exp" id="pointExp" onclick="swapHeightSizeChange('pointExp', 'detailExp');">
                <div class="point-infor">
                    <div class="infor-infortop">
                        <div class="infortop-pointname">
                            <img class="pointname-image" src="/icon/point_symbol_mctk.svg" alt="">
                            <p class="pointname-name">EXP</p>
                        </div>

                        <div class="infortop-rate">
                            <p class="rate-text">CP시세</p>
                            <p class="rate-ea1"><%- Number((rateexp.toFixed(4)).split('.')[0]).toLocaleString(); %>.</p>
                            <p class="rate-ea2"><%- ((rateexp.toFixed(4)).split('.')[1] + '0000').substr(0,4); %></p>
                            <p class="rate-unit">CP</p>
                        </div>
                    </div>

                    <div class="infor-infordown">
                    <% if (swapdailyexp == 'Y' && pointmember[0].point_exp > 0) { %>
                        <a href="/point/point_swap_exchange?point=EXP&remaindailyea=<%- remaindailyexp; %>">
                            <p class="infordown-swap background-exp">스왑</p>
                        </a>
                    <% } else if (swapdailyexp == 'N' || pointmember[0].point_exp == 0) { %>
                        <div>
                            <p class="infordown-swap background-exp" style="background: dimgray;">스왑</p>
                        </div>
                    <% }; %>

                        <a href="/point/point_swap_list?point=EXP">
                            <p class="infordown-list">목록</p>
                        </a>

                        <div class="infordown-own">
                            <div class="own-cashpoint">
                                <p class="cashpoint-text">보유</p>
                                <p class="cashpoint-ea1 color-exp"><%- Number(((pointmember[0].point_exp).toFixed(4)).split('.')[0]).toLocaleString(); %>.</p>
                                <p class="cashpoint-ea2 color-exp"><%- (((pointmember[0].point_exp).toFixed(4)).split('.')[1] + '0000').substr(0,4); %></p>
                                <p class="cashpoint-unit color-exp">EXP</p>
                            </div>

                            <div class="own-exchange">
                                <p class="exchange-text">전환가</p>
                                <p class="exchange-ea"><%- Math.floor(pointmember[0].point_exp * rateexp).toLocaleString() %></p>
                                <p class="exchange-unit">CP</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="point-detail" id="detailExp">
                    <hr class="detail-hr">

                    <div class="detail-detailtext">
                        <p class="detailtext-text">일일스왑한도</p>
                        <p class="detailtext-text">일일잔여한도</p>   
                    </div>

                    <div class="detail-limitdaily">
                        <div class="limitdaily-limit">
                            <p class="limit-ea"><%- limitdailyexp.toLocaleString(); %></p>
                            <p class="limit-unit">EXP</p>
                        </div>

                        <div class="limitdaily-remain">
                            <p class="remain-ea color-exp"><%- remaindailyexp.toLocaleString(); %></p>
                            <p class="remain-unit color-exp">EXP</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="points-point point-mc" id="pointMc" onclick="swapHeightSizeChange('pointMc', 'detailMc');">
                <div class="point-infor">
                    <div class="infor-infortop">
                        <div class="infortop-pointname">
                            <img class="pointname-image" src="/icon/point_symbol_mctk.svg" alt="">
                            <p class="pointname-name">Mine Cash</p>
                        </div>

                        <div class="infortop-rate">
                            <p class="rate-text">CP시세</p>
                            <p class="rate-ea1"><%- Number((ratemc.toFixed(4)).split('.')[0]).toLocaleString(); %>.</p>
                            <p class="rate-ea2"><%- ((ratemc.toFixed(4)).split('.')[1] + '0000').substr(0,4); %></p>
                            <p class="rate-unit">CP</p>
                        </div>
                    </div>

                    <div class="infor-infordown">
                    <% if (swapdailymc == 'Y' && pointmember[0].point_mc > 0) { %>
                        <a href="/point/point_swap_exchange?point=MC&remaindailyea=<%- remaindailymc; %>">
                            <p class="infordown-swap background-mc">스왑</p>
                        </a>
                    <% } else if (swapdailymc == 'N' || pointmember[0].point_mc == 0) { %>
                        <div>
                            <p class="infordown-swap background-mc" style="background: dimgray;">스왑</p>
                        </div>
                    <% }; %>

                    <a href="/point/point_swap_list?point=MC">
                        <p class="infordown-list">목록</p>
                    </a>

                        <div class="infordown-own">
                            <div class="own-cashpoint">
                                <p class="cashpoint-text">보유</p>
                                <p class="cashpoint-ea1 color-mc"><%- Number(((pointmember[0].point_mc).toFixed(4)).split('.')[0]).toLocaleString(); %>.</p>
                                <p class="cashpoint-ea2 color-mc"><%- (((pointmember[0].point_mc).toFixed(4)).split('.')[1] + '0000').substr(0,4); %></p>
                                <p class="cashpoint-unit color-mc">MC</p>
                            </div>

                            <div class="own-exchange">
                                <p class="exchange-text">전환가</p>
                                <p class="exchange-ea"><%- Math.floor(pointmember[0].point_mc * ratemc).toLocaleString() %></p>
                                <p class="exchange-unit">CP</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="point-detail" id="detailMc">
                    <hr class="detail-hr">

                    <div class="detail-detailtext">
                        <p class="detailtext-text">일일스왑한도</p>
                        <p class="detailtext-text">일일잔여한도</p>   
                    </div>

                    <div class="detail-limitdaily">
                        <div class="limitdaily-limit">
                            <p class="limit-ea"><%- limitdailymc.toLocaleString(); %></p>
                            <p class="limit-unit">MC</p>
                        </div>

                        <div class="limitdaily-remain">
                            <p class="remain-ea color-mc"><%- remaindailymc.toLocaleString(); %></p>
                            <p class="remain-unit color-mc">MC</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="points-point point-mctk" id="pointMctk" onclick="swapHeightSizeChange('pointMctk', 'detailMctk');">
                <div class="point-infor">
                    <div class="infor-infortop">
                        <div class="infortop-pointname">
                            <img class="pointname-image" src="/icon/point_symbol_mctk.svg" alt="">
                            <p class="pointname-name">Mine Token</p>
                        </div>

                        <div class="infortop-rate">
                            <p class="rate-text">CP시세</p>
                            <p class="rate-ea1"><%- Number((ratemctk.toFixed(4)).split('.')[0]).toLocaleString(); %>.</p>
                            <p class="rate-ea2"><%- ((ratemctk.toFixed(4)).split('.')[1] + '0000').substr(0,4); %></p>
                            <p class="rate-unit">CP</p>
                        </div>
                    </div>

                    <div class="infor-infordown">
                    <% if (swapdailymctk == 'Y' && pointmember[0].point_mctk > 0) { %>
                        <a href="/point/point_swap_exchange?point=MCTK&remaindailyea=<%- remaindailymctk; %>">
                            <p class="infordown-swap background-mctk">스왑</p>
                        </a>
                    <% } else if (swapdailymctk == 'N' || pointmember[0].point_mctk == 0) { %>
                        <div>
                            <p class="infordown-swap background-mctk" style="background: dimgray;">스왑</p>
                        </div>
                    <% }; %>

                    <a href="/point/point_swap_list?point=NCTK">
                        <p class="infordown-list">목록</p>
                    </a>

                        <div class="infordown-own">
                            <div class="own-cashpoint">
                                <p class="cashpoint-text">보유</p>
                                <p class="cashpoint-ea1 color-mctk"><%- Number(((pointmember[0].point_mctk).toFixed(4)).split('.')[0]).toLocaleString(); %>.</p>
                                <p class="cashpoint-ea2 color-mctk"><%- (((pointmember[0].point_mctk).toFixed(4)).split('.')[1] + '0000').substr(0,4); %></p>
                                <p class="cashpoint-unit color-mctk">MCTK</p>
                            </div>

                            <div class="own-exchange">
                                <p class="exchange-text">전환가</p>
                                <p class="exchange-ea"><%- Math.floor(pointmember[0].point_mctk * ratemctk).toLocaleString() %></p>
                                <p class="exchange-unit">CP</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="point-detail" id="detailMctk">
                    <hr class="detail-hr">

                    <div class="detail-detailtext">
                        <p class="detailtext-text">일일스왑한도</p>
                        <p class="detailtext-text">일일잔여한도</p>   
                    </div>

                    <div class="detail-limitdaily">
                        <div class="limitdaily-limit">
                            <p class="limit-ea"><%- limitdailymctk.toLocaleString(); %></p>
                            <p class="limit-unit">MCTK</p>
                        </div>

                        <div class="limitdaily-remain">
                            <p class="remain-ea color-mctk"><%- remaindailymctk.toLocaleString(); %></p>
                            <p class="remain-unit color-mctk">MCTK</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="points-point point-nton" id="pointNton" onclick="swapHeightSizeChange('pointNton', 'detailNton');">
                <div class="point-infor">
                    <div class="infor-infortop">
                        <div class="infortop-pointname">
                            <img class="pointname-image" src="/icon/point_symbol_mctk.svg" alt="">
                            <p class="pointname-name">NTON point</p>
                        </div>

                        <div class="infortop-rate">
                            <p class="rate-text">CP시세</p>
                            <p class="rate-ea1"><%- Number((ratenton.toFixed(4)).split('.')[0]).toLocaleString(); %>.</p>
                            <p class="rate-ea2"><%- ((ratenton.toFixed(4)).split('.')[1] + '0000').substr(0,4); %></p>
                            <p class="rate-unit">CP</p>
                        </div>
                    </div>

                    <div class="infor-infordown">
                    <% if (swapdailynton == 'Y' && pointmember[0].point_nton > 0) { %>
                        <a href="/point/point_swap_exchange?point=NTON&remaindailyea=<%- remaindailynton; %>">
                            <p class="infordown-swap background-nton">스왑</p>
                        </a>
                    <% } else if (swapdailynton == 'N' || pointmember[0].point_nton == 0) { %>
                        <div>
                            <p class="infordown-swap background-nton" style="background: dimgray;">스왑</p>
                        </div>
                    <% }; %>

                    <a href="/point/point_swap_list?point=NTON">
                        <p class="infordown-list">목록</p>
                    </a>

                        <div class="infordown-own">
                            <div class="own-cashpoint">
                                <p class="cashpoint-text">보유</p>
                                <p class="cashpoint-ea1 color-nton"><%- Number(((pointmember[0].point_nton).toFixed(4)).split('.')[0]).toLocaleString(); %>.</p>
                                <p class="cashpoint-ea2 color-nton"><%- (((pointmember[0].point_nton).toFixed(4)).split('.')[1] + '0000').substr(0,4); %></p>
                                <p class="cashpoint-unit color-nton">NTON</p>
                            </div>

                            <div class="own-exchange">
                                <p class="exchange-text">전환가</p>
                                <p class="exchange-ea"><%- Math.floor(pointmember[0].point_nton * ratenton).toLocaleString() %></p>
                                <p class="exchange-unit">CP</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="point-detail" id="detailNton">
                    <hr class="detail-hr">

                    <div class="detail-detailtext">
                        <p class="detailtext-text">일일스왑한도</p>
                        <p class="detailtext-text">일일잔여한도</p>   
                    </div>

                    <div class="detail-limitdaily">
                        <div class="limitdaily-limit">
                            <p class="limit-ea"><%- limitdailynton.toLocaleString(); %></p>
                            <p class="limit-unit">NTON</p>
                        </div>

                        <div class="limitdaily-remain">
                            <p class="remain-ea color-nton"><%- remaindailynton.toLocaleString(); %></p>
                            <p class="remain-unit color-nton">NTON</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="points-point point-trvt" id="pointTrvt" onclick="swapHeightSizeChange('pointTrvt', 'detailTrvt');">
                <div class="point-infor">
                    <div class="infor-infortop">
                        <div class="infortop-pointname">
                            <img class="pointname-image" src="/icon/point_symbol_mctk.svg" alt="">
                            <p class="pointname-name">TRV Token</p>
                        </div>

                        <div class="infortop-rate">
                            <p class="rate-text">CP시세</p>
                            <p class="rate-ea1"><%- Number((ratetrvt.toFixed(4)).split('.')[0]).toLocaleString(); %>.</p>
                            <p class="rate-ea2"><%- ((ratetrvt.toFixed(4)).split('.')[1] + '0000').substr(0,4); %></p>
                            <p class="rate-unit">CP</p>
                        </div>
                    </div>

                    <div class="infor-infordown">
                    <% if (swapdailytrvt == 'Y' && pointmember[0].point_trvt > 0) { %>
                        <a href="/point/point_swap_exchange?point=TRVT&remaindailyea=<%- remaindailytrvt; %>">
                            <p class="infordown-swap background-trvt">스왑</p>
                        </a>
                    <% } else if (swapdailytrvt == 'N' || pointmember[0].point_trvt == 0) { %>
                        <div>
                            <p class="infordown-swap background-trvt" style="background: dimgray;">스왑</p>
                        </div>
                    <% }; %>

                        <a href="/point/point_swap_list?point=TRVT">
                            <p class="infordown-list">목록</p>
                        </a>

                        <div class="infordown-own">
                            <div class="own-cashpoint">
                                <p class="cashpoint-text">보유</p>
                                <p class="cashpoint-ea1 color-trvt"><%- Number(((pointmember[0].point_trvt).toFixed(4)).split('.')[0]).toLocaleString(); %>.</p>
                                <p class="cashpoint-ea2 color-trvt"><%- (((pointmember[0].point_trvt).toFixed(4)).split('.')[1] + '0000').substr(0,4); %></p>
                                <p class="cashpoint-unit color-trvt">TRVT</p>
                            </div>

                            <div class="own-exchange">
                                <p class="exchange-text">전환가</p>
                                <p class="exchange-ea"><%- Math.floor(pointmember[0].point_trvt * ratetrvt).toLocaleString() %></p>
                                <p class="exchange-unit">CP</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="point-detail" id="detailTrvt">
                    <hr class="detail-hr">

                    <div class="detail-detailtext">
                        <p class="detailtext-text">일일스왑한도</p>
                        <p class="detailtext-text">일일잔여한도</p>   
                    </div>

                    <div class="detail-limitdaily">
                        <div class="limitdaily-limit">
                            <p class="limit-ea"><%- limitdailytrvt.toLocaleString(); %></p>
                            <p class="limit-unit">TRVT</p>
                        </div>

                        <div class="limitdaily-remain">
                            <p class="remain-ea color-trvt"><%- remaindailytrvt.toLocaleString(); %></p>
                            <p class="remain-unit color-trvt">TRVT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-blank"></div>
</section>


<!-- bhseo1223 nodejs : ejs - point_swap_section : rkmarket_app -->